@if(!token){
<app-unauthorized></app-unauthorized>
}@else {

<h1
  class="mb-10 text-center text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
  Lista de Usuarios</h1>
<div class="w-5/6 block content-center items-center m-auto mb-[13.5rem]">
  <div class="relative m-auto overflow-x-auto">
    <button type="button"
      class="flex focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
      [routerLink]="['/users/create']">
      <svg class="flex w-8 h-5  text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="12" height="12"
        fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd"
          d="M9 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H7Zm8-1a1 1 0 0 1 1-1h1v-1a1 1 0 1 1 2 0v1h1a1 1 0 1 1 0 2h-1v1a1 1 0 1 1-2 0v-1h-1a1 1 0 0 1-1-1Z"
          clip-rule="evenodd" />
      </svg>
      Crear Usuario</button>
    @if(users){
    <table class="m-auto  rounded-xl w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="rounded-full text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            ID
          </th>
          <th scope="col" class="px-6 py-3">
            NOMBRE
          </th>
          <th scope="col" class="px-6 py-3">
            EMAIL
          </th>
          <th scope="col" class="px-6 py-3">
            CONTRASEÑA
          </th>
          <th scope="col" class="px-6 py-3">
            OPCIONES
          </th>
        </tr>
      </thead>
      <tbody>
        @for(user of users; track $index){
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="px-6 py-4 whitespace-nowrap dark:text-white">
            {{ user.id | limitChar }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap dark:text-white">
            {{ user.name }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap dark:text-white">
            {{ user.email }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap dark:text-white">
            {{ user.password | changeChar }}
          </td>
          <td class="px-2 py-5 whitespace-nowrap justify-between dark:text-white">
            <button routerLink='/users/edit/{{user.id}}'
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              Editar
            </button>
            <span class="m-1"></span>
            <button (click)="deleteUser(user.id)"
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
              Eliminar
            </button>
          </td>
        </tr>
        }

      </tbody>
    </table>
    }@else{
    <div class="flex items-center justify-center">
      <div class="flex flex-col items-center justify-center">
        <svg class="w-16 h-16 text-gray-400 dark:text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        <p class="text-lg text-gray-400 dark:text-gray-500">No hay usuarios registrados</p>
      </div>
    </div>
    }
  </div>


</div>

}
