@defer (on timer(1000)) {

@if(!token){
<app-unauthorized></app-unauthorized>
}@else {

<h1
  class="mb-10 text-center text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
  Lista de Usuarios</h1>
<div class="w-5/6 block content-center items-center m-auto mb-[13.5rem]">
  <div class="relative m-auto overflow-x-auto">
    <button type="button"
      class="flex focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
      [routerLink]="['/users/create']">
      <svg class="flex w-8 h-5  text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="12" height="12"
        fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd"
          d="M9 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H7Zm8-1a1 1 0 0 1 1-1h1v-1a1 1 0 1 1 2 0v1h1a1 1 0 1 1 0 2h-1v1a1 1 0 1 1-2 0v-1h-1a1 1 0 0 1-1-1Z"
          clip-rule="evenodd" />
      </svg>
      Crear Usuario</button>
    @if(users){
    <table class="m-auto  rounded-xl w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="rounded-full text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            ID
          </th>
          <th scope="col" class="px-6 py-3">
            NOMBRE
          </th>
          <th scope="col" class="px-6 py-3">
            EMAIL
          </th>
          <th scope="col" class="px-6 py-3">
            ROL
          </th>
          <th scope="col" class="px-6 py-3">
            CONTRASEÑA
          </th>
          <th scope="col" class="px-6 py-3">
            OPCIONES
          </th>
        </tr>
      </thead>
      <tbody>
        @for(user of users; track $index){
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="px-6 py-4 whitespace-nowrap dark:text-white">
            {{ user.id | limitChar }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap dark:text-white">
            {{ user.name }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap dark:text-white">
            {{ user.email }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap dark:text-white">
            {{ user.role }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap dark:text-white">
            {{ user.password | changeChar }}
          </td>
          <td class="px-2 py-5 whitespace-nowrap justify-between dark:text-white">
            <button routerLink='/users/edit/{{user.id}}'
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              Editar
            </button>
            <span class="m-1"></span>
            <button (click)="deleteUser(user.id)"
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
              Eliminar
            </button>
          </td>
        </tr>
        }

      </tbody>
    </table>
    }@else{
    <div class="flex items-center justify-center">
      <div class="flex flex-col items-center justify-center">
        <svg class="w-16 h-16 text-gray-400 dark:text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        <p class="text-lg text-gray-400 dark:text-gray-500">No hay usuarios registrados</p>
      </div>
    </div>
    }
  </div>


</div>

}

}@placeholder {
<!--Create a loadin-->

<div class="text-center">
  <div role="status">
    <svg aria-hidden="true" class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
      viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="currentColor" />
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentFill" />
    </svg>
    <span class="sr-only">Loading...</span>
  </div>
</div>

}
