<footer class="fixed left-0 right-0 bottom-0 bg-white rounded-lg shadow m-4 dark:bg-gray-600">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between dark:text-white dark:font-bold">
    <span class="text-sm text-[#1c62f1] dark:text-[#68fcff]  sm:text-center ">© {{currentYear}} <a
        href="https://carlosriveg.dev/" class="hover:underline">Carlos Rivera</a>.
      All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium sm:mt-0">
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Contact</a>
      </li>
    </ul>
  </div>
</footer>
