<div class="cursor-default m-auto justify-center items-center mt-36 mb-[9.55rem] flex">
  <a
    class="m-auto block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">SESIÓN INICIADA CÓMO</h5>
    <ul class="text-yellow-300">
      <li><span class="font-bold dark:text-white text-gray-700">Nombre:</span> Carlos Rivera</li>
      <li><span class="font-bold dark:text-white text-gray-700">Correo:</span> carlosrivera&#64;mail.com</li>
      <li><span class="font-bold dark:text-white text-gray-700">Hora:</span>
        {{ realTime | date: 'dd/MMMM/yy - HH:mm:ss'}}
      </li>
    </ul>
  </a>

</div>
