<mat-card class="text-center text-white bg-[#394459] font-bold">
  <mat-card-content class="bg-[#ece6e6] text-black dark:text-white dark:bg-[#394459]">LISTA DE
    PRODUCTOS</mat-card-content>
</mat-card>

<div class="flex flex-wrap justify-center sm:ml-3 ml-0 gap-5 md:ml-16 mt-5 h-full">
  @for (product of products; track $index) {
  <div class="border border-solid border-black dark:border-white rounded-lg w-72 sm:w-64 sm:ml-5">
    <mat-card class="min-h-full bg-main-light dark:bg-main-dark">
      <mat-card-header>
        <mat-card-title class="text-black dark:text-white uppercase">{{product.name}}</mat-card-title>
        <mat-card-subtitle class="text-black dark:text-white">Vendedor: {{product.seller.name}}
          {{product.seller.lastName}}</mat-card-subtitle>
      </mat-card-header>
      <img class="block ml-auto mr-auto w-[50%] justify-center items-center text-center align-middle"
        src="{{product.image}}" mat-card-lg-image alt="{{product.name}}">

      <mat-card-actions class="justify-around">
        <a class="cursor-pointer bg-blue-500 rounded-lg p-2 text-white font-bold hover:bg-blue-800">COMPRAR
          AHORA</a>
        <a
          class="cursor-pointer bg-blue-600 rounded-lg p-2 flex text-white font-bold hover:bg-blue-700 hover:text-white">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" aria-hidden="true"
            class="w-full h-6 text-white dark:text-white" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 4h2l2 12m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8-3h9l1-6h-1M8 7H7m6-2v4m-2-2h4" />
          </svg>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>

  }

</div>
